[submodule "subprojects/magpie"]
	path = subprojects/magpie
	url = https://gitlab.com/mission-center-devs/gng.git
[submodule "vendor/gtk-nocsd"]
	path = vendor/gtk-nocsd
	url = https://codeberg.org/MorsMortium/GTK-NoCSD.git
